.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoTitle {
  font-weight: 700;
}

.row {
  display: flex;
  justify-content: space-between;
}

.infoText {
  font-size: 14px;
}

.totalText {
  font-size: 14px;
  font-weight: 700;
  color: #10ce09ff;
}

.subTitle {
  font-size: 12px;
  color: var(--mantine-color-gray-6);
}

.boxContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
