version: '3.9'

services:
  web:
    build: .
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn simulate_human_samples.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    environment:
      - DJANGO_SETTINGS_MODULE=simulate_human_samples.settings.production
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${PRODUCTION_POSTGRES_DB}
      POSTGRES_USER: ${PRODUCTION_POSTGRES_USER}
      POSTGRES_PASSWORD: "${PRODUCTION_POSTGRES_PASSWORD}"
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  celery_worker:
    build: .
    command: celery -A simulate_human_samples worker --loglevel=info
    volumes:
      - .:/app
    environment:
      - DJANGO_SETTINGS_MODULE=simulate_human_samples.settings.production
    env_file:
      - .env
    depends_on:
      - redis
      - db

  celery_beat:
    build: .
    command: celery -A simulate_human_samples beat --loglevel=info
    volumes:
      - .:/app
    environment:
      - DJANGO_SETTINGS_MODULE=simulate_human_samples.settings.production
    env_file:
      - .env
    depends_on:
      - redis
      - db

  nginx:
    image: nginx:stable
    ports:
      - "6789:80"
      - "443:443"
    volumes:
      - ./prod_nginx/conf.d:/etc/nginx/conf.d
      - ./static:/app/staticfiles
      - ./media:/app/media
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    environment:
      - DJANGO_SETTINGS_MODULE=simulate_human_samples.settings.production
    depends_on:
      - web

  certbot:
    image: certbot/certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - ./nginx/conf.d:/etc/nginx/conf.d
    environment:
      - DJANGO_SETTINGS_MODULE=simulate_human_samples.settings.production
    entrypoint: >
      sh -c "trap exit TERM; while :; do sleep 12h & wait $${!}; certbot renew; done"

volumes:
  postgres_data:
  certbot-etc:
  certbot-var:
