.backBtn {
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  margin-bottom: 12px;
}

.pageTitle {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.pageSubtitle {
  color: #000;
  margin-top: 28px;
  margin-bottom: 28px;
}

.box {
  display: flex;
  background: #f2f8ff;
  padding: 16px;
  border-radius: 18px;
  gap: 32px;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.inputsBox {
  flex: 2;
}

.priceBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.row {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

.inputDesc {
  flex: 2;
}

.input {
  flex: 1;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
}

.desc {
  margin-top: 6px;
  font-size: 14px;
  color: #555;
}

.costCard {
  padding: 18px 24px;
  background: #e9f0e9;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.costLabel {
  font-weight: 600;
  margin: 0 0 6px 0;
}

.costValue {
  font-weight: 700;
}

.dropzone {
  border: 2px dashed #c7d2fe;
  border-radius: 16px;
  padding: 32px;
  background: #ffffff;
  margin-top: 16px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  pointer-events: none;
}

.icon {
  font-size: 28px;
  margin-bottom: 4px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.subtitle {
  font-size: 12px;
  color: #6b7280;
  margin: 0;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  pointer-events: auto;
}

.uploaded {
  border: 2px solid #c7d2fe;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fileInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.fileName {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.fileSize {
  font-size: 12px;
  color: #6b7280;
  margin: 0;
}
