.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  margin-top: 8px;
  color: #555;
  font-size: 14px;
}

/* ---------- Layout ---------- */

.layout {
  display: flex;
  gap: 24px;
  align-items: flex-start;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    gap: 12px;
  }
}

/* ---------- Main ---------- */

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 2;
}

.sidebar {
  flex: 1;
  background-color: var(--mantine-color-accent-1);
  padding: 8px;
  border-radius: 8px;

  position: sticky;
  top: 0px;
  align-self: flex-start;

  @media (max-width: $mantine-breakpoint-sm) {
    position: static;
  }
}

/* ---------- Actions ---------- */

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
